type hal_lineage_camera_motor_davinci, domain, coredomain;
hal_server_domain(hal_lineage_camera_motor_davinci, hal_lineage_camera_motor)

type hal_lineage_camera_motor_davinci_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_lineage_camera_motor_davinci)

# Allow hal_lineage_camera_motor_davinci to read and write to motor_device
allow hal_lineage_camera_motor_davinci motor_device:dir search;
allow hal_lineage_camera_motor_davinci motor_device:chr_file rw_file_perms;

# Allow hal_lineage_camera_motor_davinci to read and write to sysfs_leds
allow hal_lineage_camera_motor_davinci { sysfs_graphics sysfs_leds }:dir search;
allow hal_lineage_camera_motor_davinci sysfs_graphics:file rw_file_perms;